.input-style-1 {
  margin: 0.25rem 0 1rem 5px;
  padding: 0.25rem;
  width: 200px;
}

.btn-1 {
  color: white;
  background-color: #0288D1;
  border: none;
  padding:5px 10px;
  border-radius: 5px;
  margin: 20px auto;
}

.radioGroup {
  display: block;
  text-align: left;
}

/* .margin-L-85 {
  margin-left: 85px;
} */

.img-default-size {
  width:150px;
  height:180px;
}

.card{
  width: 100px;
  height: 88px;
  border:1px solid red;
  text-align: center;
  margin: 10px 0;
  background-color: moccasin;

}

.card-image {
  max-width: 110px;
  max-height: 87px;
  border:1px solid blue;
}

.hidden {
  display: none;
}
