.input-style-1 {
  margin: 0.25rem 0 1rem 5px;
  padding: 0.25rem;
  width: 200px;
}

.btn-1 {
  color: white;
  background-color: #0288D1;
  border: none;
  padding:5px 10px;
  border-radius: 5px;
}
